body{
  margin:0;
  font-family:'Poppins',sans-serif;
  display:flex;
  background:#121212;
  color:white;
}

.sidebar{
  width:260px;
  height:100vh;
  background:#1c1c1c;
  padding:30px 20px;
  position:fixed;
}

.logo{
  font-weight:700;
  font-size:20px;
  margin-bottom:40px;
  color:#BF4646;
}

nav a{
  display:block;
  margin-bottom:18px;
  opacity:0.7;
  cursor:pointer;
  transition:0.3s;
}

nav a:hover, nav .active{
  opacity:1;
  color:#BF4646;
}

.main{
  margin-left:280px;
  padding:40px;
  flex:1;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:40px;
}

.profile-mini{
  background:#BF4646;
  width:42px;
  height:42px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
  margin-bottom:40px;
}

.stat-card{
  background:#1f1f1f;
  padding:25px;
  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
  transition:0.3s;
}

.stat-card:hover{
  transform:translateY(-5px);
}

.stat-card h3{
  font-size:14px;
  opacity:0.6;
}

.stat-card p{
  font-size:28px;
  font-weight:700;
}

.highlight{
  border:2px solid #BF4646;
}

.grid{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:25px;
}

.card{
  background:#1f1f1f;
  padding:30px;
  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.card.large{
  min-height:200px;
}

.card h3{
  margin-bottom:20px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  margin-bottom:10px;
  opacity:0.8;
}

.online{
  color:#4caf50;
  font-weight:600;
}
