.add-btn{
  padding:10px 18px;
  border:none;
  border-radius:12px;
  background:#BF4646;
  color:white;
  font-weight:600;
  cursor:pointer;
}

.filter-bar{
  display:flex;
  gap:15px;
  margin:20px 0;
}

.filter-bar select,
.filter-bar input{
  padding:10px;
  border-radius:10px;
  border:1px solid #ddd;
}

.user-card{
  background:#1f1f1f;
  padding:30px;
  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

table{
  width:100%;
  border-collapse:collapse;
  color:white;
}

thead{
  background:#2a2a2a;
}

th, td{
  padding:14px;
  text-align:left;
}

tr:not(:last-child){
  border-bottom:1px solid #333;
}

.role{
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
}

.mahasiswa{
  background:#7EACB5;
}

.dosen{
  background:#BF4646;
}

.edit{
  padding:8px 14px;
  border:none;
  border-radius:10px;
  background:#7EACB5;
  color:white;
  margin-right:8px;
  cursor:pointer;
}

.delete{
  padding:8px 14px;
  border:none;
  border-radius:10px;
  background:#BF4646;
  color:white;
  cursor:pointer;
}
