.filter-bar{
  display:flex;
  gap:15px;
  margin-bottom:25px;
}

.filter-bar select{
  padding:10px;
  border-radius:10px;
  border:1px solid #ddd;
}

.filter-bar button{
  padding:10px 16px;
  border:none;
  border-radius:10px;
  background:#BF4646;
  color:white;
  font-weight:600;
  cursor:pointer;
}

.hasil-card{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.05);
}

table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#f5f5f5;
}

th, td{
  padding:14px;
  text-align:left;
}

tr:not(:last-child){
  border-bottom:1px solid #eee;
}

.top{
  background:#fff6f6;
  font-weight:600;
}
