.kuis-table-card{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.05);
}

table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#f5f5f5;
}

th, td{
  padding:14px;
  text-align:left;
}

tr:not(:last-child){
  border-bottom:1px solid #eee;
}

.badge{
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
  color:white;
}

.easy{ background:#4CAF50; }
.medium{ background:#FF9800; }
.hard{ background:#BF4646; }

/* Toggle Switch */
.switch{
  position:relative;
  display:inline-block;
  width:40px;
  height:20px;
}

.switch input{
  opacity:0;
  width:0;
  height:0;
}

.slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#ccc;
  border-radius:34px;
  transition:0.3s;
}

.slider:before{
  position:absolute;
  content:"";
  height:14px;
  width:14px;
  left:3px;
  bottom:3px;
  background-color:white;
  border-radius:50%;
  transition:0.3s;
}

input:checked + .slider{
  background-color:#BF4646;
}

input:checked + .slider:before{
  transform:translateX(20px);
}

.edit{
  padding:8px 14px;
  border:none;
  border-radius:10px;
  background:#7EACB5;
  color:white;
  margin-right:8px;
  cursor:pointer;
}

.delete{
  padding:8px 14px;
  border:none;
  border-radius:10px;
  background:#BF4646;
  color:white;
  cursor:pointer;
}
