.materi-table-card{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.05);
}

table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#f5f5f5;
}

th, td{
  padding:14px;
  text-align:left;
}

tr:not(:last-child){
  border-bottom:1px solid #eee;
}

.edit{
  padding:8px 14px;
  border:none;
  border-radius:10px;
  background:#7EACB5;
  color:white;
  margin-right:8px;
  cursor:pointer;
}

.edit:hover{
  background:#5e8d96;
}

.delete{
  padding:8px 14px;
  border:none;
  border-radius:10px;
  background:#BF4646;
  color:white;
  cursor:pointer;
}

.delete:hover{
  background:#a93c3c;
}
