body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:linear-gradient(135deg,#FFF4EA,#EDDCC6);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.quiz-container{
  width:700px;
  background:rgba(255,255,255,0.9);
  padding:40px;
  border-radius:25px;
  box-shadow:0 25px 50px rgba(0,0,0,0.1);
}

.quiz-top{
  display:flex;
  justify-content:space-between;
  margin-bottom:30px;
}

.progress{
  font-weight:600;
}

.timer{
  background:#BF4646;
  color:white;
  padding:8px 14px;
  border-radius:12px;
}

.question-box h2{
  margin-bottom:25px;
}

.options label{
  display:block;
  padding:12px;
  margin-bottom:12px;
  border-radius:12px;
  background:#f5f5f5;
  cursor:pointer;
  transition:0.3s;
}

.options label:hover{
  background:#e8e8e8;
}

.quiz-actions{
  margin-top:25px;
  text-align:right;
}

.quiz-actions button{
  padding:12px 20px;
  border:none;
  border-radius:14px;
  background:#7EACB5;
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.quiz-actions button:hover{
  background:#5e8d96;
}
