body{
  margin:0;
  font-family:'Poppins',sans-serif;
  height:100vh;
  background:linear-gradient(135deg,#1e1e1e,#2a2a2a);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  color:white;
}

.bg-gradient{
  position:absolute;
  width:600px;
  height:600px;
  background:#BF4646;
  filter:blur(220px);
  opacity:0.2;
  border-radius:50%;
  bottom:-200px;
  left:-200px;
}

.admin-wrapper{
  z-index:2;
}

.admin-card{
  background:rgba(40,40,40,0.75);
  backdrop-filter:blur(20px);
  padding:55px;
  border-radius:30px;
  width:380px;
  box-shadow:0 25px 60px rgba(0,0,0,0.5);
  border-top:5px solid #BF4646;
  text-align:center;
}

.admin-card h2{
  font-weight:700;
  margin-bottom:8px;
}

.admin-card p{
  opacity:0.6;
  margin-bottom:30px;
}

input{
  width:100%;
  padding:15px;
  margin-bottom:18px;
  border:none;
  border-radius:14px;
  background:#333;
  color:white;
  font-size:14px;
  outline:none;
  transition:0.3s;
}

input:focus{
  box-shadow:0 0 0 2px #BF4646;
}

button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:16px;
  background:#BF4646;
  color:white;
  font-weight:600;
  font-size:15px;
  transition:0.3s;
}

button:hover{
  background:#a93c3c;
  transform:translateY(-2px);
}

.back{
  margin-top:20px;
}

.back a{
  text-decoration:none;
  font-size:14px;
  color:#aaa;
}
