body{
  margin:0;
  font-family:'Poppins',sans-serif;
  height:100vh;
  background:linear-gradient(135deg,#7EACB5,#EDDCC6);
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-card{
  background:rgba(255,255,255,0.8);
  backdrop-filter:blur(20px);
  padding:50px;
  border-radius:28px;
  width:350px;
  box-shadow:0 20px 40px rgba(0,0,0,0.2);
  text-align:center;
}

.login-card h2{
  margin-bottom:10px;
}

.login-card p{
  margin-bottom:25px;
  opacity:0.6;
}

input{
  width:100%;
  padding:14px;
  margin-bottom:15px;
  border:none;
  border-radius:12px;
  outline:none;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:#7EACB5;
  color:white;
  font-weight:600;
  transition:0.3s;
}

button:hover{
  background:#6b99a1;
}

.error-message{
  color:#BF4646;
  font-size:14px;
  margin-top:10px;
  min-height:18px;
}

.register-link{
  margin-top:15px;
  font-size:14px;
}

.register-link a{
  color:#7EACB5;
  font-weight:600;
  text-decoration:none;
}
