.search-box{
  margin-bottom:30px;
}

.search-box input{
  width:300px;
  padding:12px;
  border-radius:12px;
  border:none;
  background:#f2f2f2;
  outline:none;
}

.materi-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
  gap:25px;
}

.materi-card{
  background:rgba(255,255,255,0.7);
  backdrop-filter:blur(20px);
  padding:25px;
  border-radius:20px;
  box-shadow:0 15px 30px rgba(0,0,0,0.05);
  transition:0.3s;
}

.materi-card:hover{
  transform:translateY(-6px);
}

.materi-header{
  margin-bottom:15px;
}

.badge{
  background:#7EACB5;
  color:white;
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
}

.materi-card h3{
  margin-bottom:10px;
}

.materi-card p{
  font-size:14px;
  opacity:0.7;
  margin-bottom:20px;
}

.materi-footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.materi-footer button{
  padding:8px 14px;
  border:none;
  border-radius:10px;
  background:#7EACB5;
  color:white;
  cursor:pointer;
  transition:0.3s;
}

.materi-footer button:hover{
  background:#5e8d96;
}
