.setting-card{
  background:#1f1f1f;
  padding:25px;
  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
  margin-bottom:25px;
}

.setting-card h3{
  margin-bottom:15px;
}

input{
  padding:10px;
  border-radius:10px;
  border:1px solid #333;
  background:#2a2a2a;
  color:white;
  margin-bottom:10px;
}

.save-btn{
  background:#7EACB5;
  color:white;
  padding:10px 18px;
  border:none;
  border-radius:12px;
  cursor:pointer;
}

.row{
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:10px;
}

/* Toggle */
.switch{
  position:relative;
  width:40px;
  height:20px;
}

.switch input{
  opacity:0;
  width:0;
  height:0;
}

.slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#ccc;
  border-radius:34px;
  transition:0.3s;
}

.slider:before{
  position:absolute;
  content:"";
  height:14px;
  width:14px;
  left:3px;
  bottom:3px;
  background:white;
  border-radius:50%;
  transition:0.3s;
}

input:checked + .slider{
  background:#BF4646;
}

input:checked + .slider:before{
  transform:translateX(20px);
}

/* Danger */
.danger-card{
  background:#2a1a1a;
  padding:25px;
  border-radius:20px;
  border:1px solid #BF4646;
}

.danger-btn{
  background:#BF4646;
  color:white;
  padding:12px 18px;
  border:none;
  border-radius:12px;
  margin-right:10px;
  cursor:pointer;
}
