body{
  margin:0;
  font-family:'Poppins',sans-serif;
  height:100vh;
  background:linear-gradient(135deg,#7EACB5,#EDDCC6);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.bg-blur{
  position:absolute;
  width:500px;
  height:500px;
  background:#FFF4EA;
  filter:blur(180px);
  opacity:0.4;
  border-radius:50%;
  top:-150px;
  right:-150px;
}

.register-wrapper{
  z-index:2;
}

.register-card{
  background:rgba(255,255,255,0.9);
  backdrop-filter:blur(20px);
  padding:45px;
  border-radius:28px;
  width:420px;
  text-align:center;
  box-shadow:0 25px 50px rgba(0,0,0,0.2);
}

.register-card h2{
  margin-bottom:8px;
}

.register-card p{
  margin-bottom:25px;
  opacity:0.6;
  font-size:14px;
}

input{
  width:100%;
  padding:14px;
  margin-bottom:15px;
  border-radius:12px;
  border:1px solid #ddd;
  font-size:14px;
  outline:none;
  transition:0.3s;
}

input:focus{
  border-color:#7EACB5;
  box-shadow:0 0 0 2px rgba(126,172,181,0.2);
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:#7EACB5;
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#5e8d96;
  transform:translateY(-2px);
}

.login-link{
  margin-top:15px;
  font-size:14px;
}

.login-link a{
  color:#7EACB5;
  text-decoration:none;
  font-weight:600;
}
