body{
  margin:0;
  font-family:'Poppins',sans-serif;
  height:100vh;
  background:linear-gradient(135deg,#FFF4EA,#EDDCC6);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.bg-blur{
  position:absolute;
  width:600px;
  height:600px;
  background:#7EACB5;
  filter:blur(200px);
  opacity:0.3;
  border-radius:50%;
  top:-150px;
  left:-150px;
}

.container{
  text-align:center;
  z-index:2;
}

.logo{
  font-size:42px;
  font-weight:700;
  color:#333;
}

.subtitle{
  margin-bottom:40px;
  opacity:0.7;
}

.card-container{
  display:flex;
  gap:25px;
}

.role-card{
  backdrop-filter:blur(20px);
  background:rgba(255,255,255,0.5);
  padding:35px;
  border-radius:24px;
  width:240px;
  transition:0.4s;
  box-shadow:0 15px 30px rgba(0,0,0,0.1);
  color:#333;
}

.role-card:hover{
  transform:translateY(-10px) scale(1.03);
}

.mahasiswa{
  border-bottom:5px solid #7EACB5;
}

.dosen{
  border-bottom:5px solid #BF4646;
}

.admin{
  border-bottom:5px solid #333;
}
