.form-card{
  background:white;
  padding:35px;
  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.05);
  max-width:600px;
}

.form-group{
  margin-bottom:20px;
  display:flex;
  flex-direction:column;
}

label{
  font-size:14px;
  margin-bottom:8px;
  font-weight:600;
}

input, select, textarea{
  padding:12px;
  border-radius:12px;
  border:1px solid #ddd;
  font-family:'Poppins';
  outline:none;
}

input:focus, select:focus, textarea:focus{
  border-color:#BF4646;
}

.submit-btn{
  margin-top:10px;
  padding:14px;
  border:none;
  border-radius:14px;
  background:#BF4646;
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.submit-btn:hover{
  background:#a93c3c;
  transform:translateY(-2px);
}
